.todo_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  overflow: hidden;
}
.todo_list_header {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.todo_list_header_input {
  outline: none;
  border: 1px solid gray;
  width: 250px;
  height: 40px;
  padding-left: 20px;
  font-size: 20px;
}
.todo_list_header_btn {
  width: 100px;
  height: 30px;
  background-color: aqua;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.todo_list_body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  height: 600px;
  overflow: scroll;
  gap: 10px;
}
.todo_list_body_content {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightblue;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .todo_list_header_input {
    width: 150px;
  }
  .todo_list_header_btn {
    width: 70px;
  }
  .todo_list_body {
    width: 300px;
  }
}